Student name: Jianwei Su

Date: 06/04/2022

8.2.4

# Use the pandas-datareader library to load the same data as exercise 1 above. Save the DataFrame into a .csv file. Save this CSV file for the exercises below

In [1]:
import yfinance as yf
tsla=yf.download("TSLA", start="2020-06-04", end="2022-06-04")

[*********************100%***********************]  1 of 1 completed

In [2]:
tsla

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-06-04,177.975998,179.149994,171.688004,172.876007,172.876007,44438500
2020-06-05,175.567993,177.304001,173.240005,177.132004,177.132004,39059500
2020-06-08,183.800003,190.000000,181.832001,189.983994,189.983994,70873500
2020-06-09,188.001999,190.888000,184.785995,188.134003,188.134003,56941000
2020-06-10,198.376007,205.496002,196.500000,205.009995,205.009995,92817000
...,...,...,...,...,...,...
2022-05-27,723.250000,759.799988,720.530029,759.630005,759.630005,29765000
2022-05-31,773.840027,778.799988,734.229980,758.260010,758.260010,33971500
2022-06-01,755.159973,771.979980,730.919983,740.369995,740.369995,25749300
2022-06-02,732.469971,792.630005,726.200012,775.000000,775.000000,31157700
2022-06-03,729.679993,743.390015,700.250000,703.549988,703.549988,37348100

In [3]:
tsla.to_csv('tsla_data.csv')